 <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        
        <img src="https://cdn-icons-png.flaticon.com/512/438/438560.png
" class="d-block mx-lg-auto img-fluid animate__animated animate__fadeInRight" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 animate__animated animate__fadeInLeft">
        <h1 class="display-5 fw-bold lh-1 mb-3">GoShop :)</h1>
        <p class="lead">Los mejores productos en la palma de tu mano.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/bebidas">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Bebidas</button>
          </a>
          <a href="/bebidas/nueva">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Nuevo producto</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  